<% layout("/layouts/boilerplate") %>


<body>
     <div class="row">
            <div class="col-8 offset-3">
                <h1><%=data.title%> </h1>
             </div>

    <div class="card col-6 offset-3 show-card listing-card" >
       
        <img src="<%=data.image.url%>" class="card-img-top show-img" alt="property image">
        <div class="card-body">
            <p class="card-text">Owned by <i><%= data.owner.username %></i></p>
          
            <p class="card-text"> <%= data.description %> </p>
            <p class="card-text">  &#8377;  <%= data.price ? Number(data.price).toLocaleString("en-IN") : "N/A" %> </p>
            <p class="card-text">   <%= data.location %> </p>
            <p class="card-text">    <%= data.country %> </p>
           
        </div>


    </div>

        <%if(currUser && currUser._id.equals( data.owner._id)  ){ %>
             <div class="show-btn offset-3 mb-5">

                <a href="/listings/<%=data._id%>/edit" class="btn btn-dark col-md-1 ">Edit</a>

                <form action="/listings/<%=data._id%>?_method=DELETE" method="post" >
                                <button class="btn btn-dark offset-md-3">Delete</button>
                </form>  

            </div>
            <hr>
        <% } %>
   

     <!-- creating review  -->
      
       
      <div class="col-8 offset-3 mb-5 " >
       
        <%if(currUser  ){ %>
        <h4><b> Leave the Review </b></h4>
        <form action="/listings/<%=data._id%>/reviews" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="rating" class="form-label" >Rating</label>
                <input type="range" min="1" max="5"  name="review[rating]" id= "rating" class="form-range"  >
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" class="form-control" rows="5"  placeholder="Write a review..."
                 required></textarea>
                 <div class="invalid-feedback">
                    Please add some comments for review.
                 </div>
            </div>
            
            <button type="submit" class="btn btn-outline-dark">Submit </button>
        </form>

        <% } %>

         <!-- displaying all the review below  -->
          <hr>
          <h4><b>All Reviews</b></h4>
          
          
            <div class="row ">
            <% for (let review of data.reviews){ %>
                <div class="card  mb-3 col-5 ms-3">
                    <div class="card-body ">
                         <h5 class="card-title">@<%= review.author.username %></h5>
                         <p class="card-text"><%= review.comment %></p>
                         <p class="card-text"><%= review.rating %> stars</p>

                    </div>
                    <!-- //Delete button to delete the review -->
                    <form class="mb-3 mt-1" action="/listings/<%=data._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-dark btn-sm">Delete</button>
                    </form>

                </div>
                
            <%}%>
            </div>
            
          </div>
          
      </div>
    
           
    </div>

    

    
    
</body>
